@import "../../../shared/styleguide.scss";
@import "../../../shared/variables";
@import "../../../shared/styleguide.scss";


/* RButton Styles */

.button {

    border-radius: 25%;

    &--primary {

        background-color: $button-colors-primary;
    }

    &--secondary {

        background-color: $button-colors-secondary;
    }

    &--danger {

        background-color: $button-colors-danger;

    }
  
}